@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
   margin: 0;
   padding: 0;
}
html{
   font-size: 62.5%;
   scroll-behavior: smooth;
   font-family: 'Poppins',sans-serif;
}

/* reusable styles here  */
:root{
   --header-bg:linear-gradient(to right, #1414c3a5,#1414c37b);
   --white-color:#fefefe;
   --logo-color:linear-gradient(to top, #170e09,#fed547);
   --btn-color:#fcce2d;
   --black-color:#000000;
   --menu-bg:#e8e8fa;
}
.flexible{
   display: flex;
}
.container{
width: 117rem;
margin: 0 auto;

}
h1,h2,h3,h4,h5,h6{
   font-weight: 700;
   text-transform: capitalize;
   margin: 1rem 0px;
   font-family: "Poppins",sans-serif;
}
a{
   text-decoration: none;
   font-size: 1.7rem;
   font-weight: 400;
}
h1{
   font-size: 5.5rem;
   
}
h2{
   font-size: 4rem;
   color: var(--black-color);
}
p{
   font-size: 1.7rem;
}
.btn{
   padding: 0.8rem 2rem;
   background:var(--btn-color);
   color: var(--white-color);
   display: inline-block;
   margin: 2rem 1.5rem 1rem 0rem;
   border-radius: 2rem;
   -webkit-border-radius: 2rem;
   -moz-border-radius: 2rem;
   -ms-border-radius: 2rem;
   -o-border-radius: 2rem;
}

/* headre section style here  */
#header{
  height: 100vh;
  width: 100%;
  background:var(--header-bg),url(../img/header_bg.png) no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
   row-gap: 50px;

}
.top_sec{
    background: var(--menu-bg);
    height: 8rem;
    margin-top: 2rem;
}
.menubar_wrapper{
   width: 117rem;
   align-items: center;
   height: 8rem;
   margin: 0 auto;
   justify-content: space-around;
}
.top_sec ul{
   list-style: none;
  
}


.top_sec .menu ul li{
  padding: 1rem 2rem;   
}
.top_sec .social_icon ul li{
     padding:0 1rem;
}
.top_sec .social_icon ul li a{
     font-size: 2rem;
}
.top_sec ul li a{
  display: block;
  text-decoration: none;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: var(--black-color);
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
 
}
.top_sec ul li a{
  display: block;
  text-decoration: none;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: var(--black-color);
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  font-weight: 700;
}
.top_sec ul li a:hover{
     color: var(--btn-color);
     text-shadow:1px 1px var(--black-color) ;
}
.top_sec ul .active a{
     color: var(--btn-color);
     text-shadow:1px 1px var(--black-color) ;
}
.search_icon p i{
   font-size: 2rem;
}
.search_icon p i:hover{
   color: var(--btn-color);
   text-shadow:1px 1px var(--black-color) ;
}
.bottom_sec{
   justify-content: space-around;
    align-items: flex-end;  
  height: 40rem;
   

}
.bottom_sec .right_sec img{
   width: 400px;
   height: 400px;

}
.bottom_sec .hero_area{
   width: 48%;
  align-items: center;

}
.bottom_sec .right_sec{
   width: 48%;
   align-self: flex-end;   
}
h1{
   color: var(--white-color);
}

.bottom_sec p{
   color: var(--white-color);
   font-size: 1.7rem;
}
.hero_btn2{
   background: var(--black-color);
}

/* course section styles start */
#course_sec{
   padding: 6rem 0rem;
   flex-direction: column;
   align-items: center;
   row-gap: 4rem;
}
#course_sec h2::after{
  content: "";
  display: block;
  width: 6rem;
  height: 2rem;
  background: var(--btn-color);
  margin: 0 auto;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  margin-top: 1rem;
}
.yeallow_header{
   color: var(--btn-color);
}
#course_sec .course_wrap{
   flex-wrap: wrap;
   gap: 3rem;  
   
   

}

.course{
   width:57rem;
   height:28.6rem ;
   position: relative;
   border-radius:10px ;
   -webkit-border-radius:10px ;
   -moz-border-radius:10px ;
   -ms-border-radius:10px ;
   -o-border-radius:10px ;
}
.course::before{
   content: "";
   width:57rem;
   height:28.6rem ;
   position: absolute;
   background: var(--black-color);
   display: block;
   opacity:0.5;
   z-index: 1;
   transition: 0.5s all ease;
   -webkit-transition: 0.5s all ease;
   -moz-transition: 0.5s all ease;
   -ms-transition: 0.5s all ease;
   -o-transition: 0.5s all ease;
   border-radius:10px ;
   -webkit-border-radius:10px ;
   -moz-border-radius:10px ;
   -ms-border-radius:10px ;
   -o-border-radius:10px ;
}
.active::before{
  opacity: 0.8; 
}
.course:hover::before{
   opacity: 0.8;
}
#course_sec .box img{
   border-radius:10px ;
   -webkit-border-radius:10px ;
   -moz-border-radius:10px ;
   -ms-border-radius:10px ;
   -o-border-radius:10px ;
} 
#course_sec .box .caption_image{
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      font-weight: 700;
      font-size: 2.5rem;
      color: var(--white-color);
      z-index: 2;
      text-transform: capitalize;
      
}